*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}
.clear{
	clear: both;
}
.center{
	margin: 0 auto;
	text-align: center;
	width: 100%;
	max-width: 1280px;
}
/**HEADER**/
.logo1{
	display: inline-block;
	float: left;
	width: 70px;
	height: 50px;
	background-color: rgb(193, 199, 201);
	margin-top: 20px;
	margin-left: 40px
;
}
.logo1 p{
	color: white;
	text-align: center;
	margin:0 auto;
}
header{
	width: 100%;
	height: 100vh;
	background-image: url("../images/capa.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/**list-right**/
nav{
	display: inline-block;
	float: right;
	width: 397px;
	height: auto;
	padding-top: 20px;
}
nav ul{
	list-style-type: none;
}
nav li a {
	color: white;
	text-decoration: none;
}
nav li a:hover{
	border-bottom: 1px solid white;
}
nav li{
	float: left;
	padding: 10px;
}
/***********/
/**Paragrafo**/
.p1{
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: justify;
	margin-top:200px;
	margin-left: 400px;
}
.p1 h1{
	font-size:40px;
}
/****HEADER*****/

/**SECTION1**/
.section1{
	display: inline-block;
	width: 100%;
	height: 700x;
	max-height: 700px;
	background-color: #472562;
}
.phone{
	display: inline-block;
	margin-top: -200px;
	margin-bottom: -123px;
	margin-right: 100px;
	margin-left: -250px;
	position: relative;
	float: right;
	width: 600px;
	height: 760px;
	background-image: url("../images/Celular.fw.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
}
.texto_lista{
	display: inline-block;
	float: left;
	color: white;
	margin:100px 100px;
	width: 600px;
	height: 200px;
}
.texto_lista h1{
	font-size: 40px;
	padding-bottom: 20px;
}
.texto_lista ul li{
	list-style-position: inside;
	padding-top: 1px;
}
button{
	margin-top: 20px;
	background-color: #FF703D;
	padding: 10px;
	border-radius: 30px;
	color: white;
	cursor: pointer;
	border: none;
}